.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 86px;
    box-sizing: border-box;
    position: relative;
}

.redlight {
    width: 200px;
    height: 200px;
    position: absolute; 
    top: 156px;
    left: -143px;
    background-color: #961A1A;
    filter: blur(196px);
    opacity: 0.5;
}

.red-ball {
    width: 83px;
    height: 83px;
    position: absolute;
    border-radius: 50%;
    margin: 0 auto;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, 
    rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);   
    backdrop-filter: blur(2px);
    top: -53px;
    left: 370px;
}

.red-ball-small {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 409px;
    right: 412px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, 
    rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}

.main-wrap {
    display: flex;
    width: 362px;
    flex-direction: column;
    margin-top: -13px;
    z-index: 5;
}

.main-title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #E4E5EA;
    margin: 0 0 29px;
}

.gradient-text{
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%) #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-capture {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #E4E5EA;
    margin: 0;
}

@media screen and (min-width:768px) and (max-width:1180px) {
    .red-ball {
        left:200px;
    }

    .redlight {
        left:-65px;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    .redlight, .red-ball, .red-ball-small {
        display: none;
    }

    .main {
        flex-direction: column;
        background-image: url(../../images/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #1E1E1E;
        padding-top: 52px;
        width: 100%;
        align-items: center;
    }

    .main-wrap {
        width: 90%;
        margin-bottom: 45px;
    }

    .main-title {
        font-size: 36px;
        line-height: 44px;
        margin: 0 0 15px;
    }

    .main-text {
        font-size: 38px;
        line-height: 44px;
    }
    

}
