.header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 61px 0 6px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}

.purple-light {
    width: 650px;
    height: 350px;
    position: absolute;
    background-image: url(../../images/purple-light.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    left: 246px;
}

.purple-ball {
    width: 69px;
    height: 69px;
    position: absolute;
    background-image: url(../../images/purple-ball.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    right: 365px;
}

.header-wrap {
    display: flex;
}

.logo {
    width: 140px;
    height: 24px;
}

.logo-wrap {
    width: 140px;
    display: flex;
    flex-direction: column;
}

.logo__capture{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #E4E5EA
}

.menu {
    display: flex;
    align-items: baseline;
}

.menu__list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 3px 0 51px 51px;
    box-sizing: border-box;
}

.menu__list-item {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
    margin-right: 31px
}
.menu__list-item:last-child {
    margin-right: 0;
}

.phone {
    font-style: normal;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
    margin: 0 49px 0 0;
}

.contacts {
    display: flex;
    align-items: baseline;
    padding-top: 4px;
    box-sizing: border-box;
}

.contact-icon {
    width: 16px;
    height: 16px;
    margin-right: 34px;
}

.contact-icon:last-child {
    margin-right: 0;
}

@media screen and (min-width:921px) and (max-width:1130px){
    .phone {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:920px) {
    .contacts {
        display: none;
    }

    .purple-light {
        left: 100px;
    }
    
}  
   

@media screen and (min-width:320px) and (max-width:767px) {
    .logo-wrap, .contacts, .purple-ball, .purple-light, .non-dispayed {
        display: none;
    }

    .header {
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
    }

    .header-wrap, .menu, .menu__list {
        width: 100%;
    }

    .menu__list-item  {
        text-transform: uppercase;
        margin: 0;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

    .menu__list{
        justify-content: space-between;
        padding: 0;
    }

}