.header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 61px 0 6px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}

.purple-light {
    width: 210px;
    height: 210px;
    position: absolute;
    top: -105px;
    left: 477px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}

.purple-ball {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    right: 365px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}

.header-wrap {
    display: flex;
}

.logo {
    width: 140px;
    height: 24px;
    z-index: 5;
}

.logo-wrap {
    width: 140px;
    display: flex;
    flex-direction: column;
}

.logo__capture{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #E4E5EA;
    z-index: 5;
}

.menu {
    display: flex;
    align-items: baseline;
}

.menu__list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 3px 0 51px 51px;
    box-sizing: border-box;
}

.menu__list-item {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
    margin-right: 31px;
    z-index: 5;
}
.menu__list-item:last-child {
    margin-right: 0;
}

.phone {
    font-style: normal;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
    margin: 0 49px 0 0;
    z-index: 5;
}

.contacts {
    display: flex;
    align-items: baseline;
    padding-top: 4px;
    box-sizing: border-box;
}

.contact-icon {
    width: 16px;
    height: 16px;
    margin-right: 34px;
}

.contact-icon:last-child {
    margin-right: 0;
}

@media screen and (min-width:921px) and (max-width:1130px){
    .phone {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:920px) {
    .contacts {
        display: none;
    }

    .purple-light {
        left: 100px;
    }
    
}  
   

@media screen and (min-width:320px) and (max-width:767px) {
    .logo-wrap, .contacts, .purple-ball, .purple-light, .non-dispayed {
        display: none;
    }

    .header {
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
    }

    .header-wrap, .menu, .menu__list {
        width: 100%;
    }

    .menu__list-item  {
        text-transform: uppercase;
        margin: 0;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

    .menu__list{
        justify-content: space-between;
        padding: 0;
    }

}